// Calendar

// VARIABLES

$sansSerif: Arial, Helvetica, Sans-serif; //duplicate!

// MIXINS

@mixin rounded-full { //duplicate!
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#view_calendar {
  background:#fff;
  border:1px solid #e6e6e6;
  font-family:$sansSerif;
  margin:0 0 15px 0;
  padding:1px;
  width:991px;
  padding:1px;
  @include rounded-full;

  .container {
    background:#e8e8e8;
    height:132px;
    left:0;
    padding:7px 7px 0 7px;
    position:relative;
    top:0;
    @include rounded-full;

    header {
      padding:0 0 6px 0;

      .tools {
        display:inline;
        float:right;
        font-size:11px;
        margin:0;
        padding:0;
    
        li {
          display:inline;
          float:left;
          margin:0 0 0 10px;

          a {
            color:#999;
            display:block;
            line-height:1.1em;
          }

          &.fullscreen {
            a {
              background:url(../images/icons/calendar_sprite.png) no-repeat -10px -29px;
                padding:0 0 0 15px;

              &:hover {
                background:url(../images/icons/calendar_sprite.png) no-repeat -10px -9px;
                color:#777;
              }
            }
          }
        }
      }

      h2 {
        color:#333;
        font-weight:normal;
        line-height:.8em;

        span {
          color:#666;
          font-size:11px;
          margin:0 0 0 5px;

          &.range {
            text-transform:uppercase;
          }

          &.squib {
            background-image: linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -o-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -moz-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -webkit-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -ms-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0, rgb(226,232,237)),
              color-stop(0.6, rgb(246,246,246))
            );
            border:1px solid #c9d4db;
            -moz-box-shadow:0 1px 1px #d9d9d9;
            -webkit-box-shadow:0 1px 1px #d9d9d9;
            box-shadow:0 1px 1px #d9d9d9;
            color:#9bbbd7;
            padding:1px 5px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            vertical-align:top;
          }
        }
      }
    }

    #calendar {
      left:0;
      position:relative;
      top:0;
      width:100%;
      
      &.ribbon {

        bottom:0;
        left:0;
        height:110px;
        overflow:hidden;
        position:absolute;
        top:29px;
        width:100%;

        .navRight {
          bottom:0;
          display:none;
          position:absolute;
          right:13px;
          width:18px;
          z-index:1;

          a {
            background:transparent url(../images/ui/bg_calendarArrows.png) no-repeat -134px -20px;
            display:block;
            height:23px;
            margin:0 auto 42px auto;
            width:18px;
            -moz-box-shadow:0 2px 4px #c0c0c0;
            -webkit-box-shadow:0 2px 4px #c0c0c0;
            box-shadow:0 2px 4px #c0c0c0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;

            &:hover {
              background:transparent url(../images/ui/bg_calendarArrows.png) no-repeat -96px -20px;
            }
          }
        }

        .navLeft {
          bottom:0;
          display:none;
          left:13px;
          position:absolute;
          width:18px;
          z-index:1;

          a {
            background:transparent url(../images/ui/bg_calendarArrows.png) no-repeat -20px -20px;
            display:block;
            height:23px;
            margin:0 auto 42px auto;
            width:18px;
            -moz-box-shadow:0 2px 4px #c0c0c0;
            -webkit-box-shadow:0 2px 4px #c0c0c0;
            box-shadow:0 2px 4px #c0c0c0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;

            &:hover {
              background:transparent url(../images/ui/bg_calendarArrows.png) no-repeat -58px -20px;
            }
          }
        }

        .table {
          display:block;
          position:absolute;
          width:2300px;

          .seven {
            background:#f6f6f6;
            border:1px solid #ddd;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            display:inline;
            float:left;
            height:100px;
            margin:0 7px;
            width:975px;
            -moz-box-shadow:0 1px 2px 0px #ccc;
            -webkit-box-shadow:0 1px 2px 0px #ccc;
            box-shadow:0 1px 2px 0px #ccc;

            li {
              border-right:1px solid #ddd;
              border-left:1px solid #fff;
              // border-top:1px solid #ddd;
              // border-bottom:1px solid #ddd;
              // background:#f6f6f6;
              color:#666;
              display:inline;
              float:left;
              font-size:10px;
              left:0;
              position:relative;
              top:0;
              // -moz-box-shadow:0 1px 2px 0px #ccc;
              // -webkit-box-shadow:0 1px 2px 0px #ccc;
              // box-shadow:0 1px 2px 0px #ccc;
              // height:100px; defined by containing div
              width:137.5px;

              &.first {
                border-left:none;
                // -webkit-border-top-left-radius: 6px;
                // -webkit-border-bottom-left-radius: 6px;
                // -moz-border-radius-topleft: 6px;
                // -moz-border-radius-bottomleft: 6px;
                // border-top-left-radius: 6px;
                // border-bottom-left-radius: 6px;
                // margin:0 0 0 8px;
              }

              &.last {
                border-right:none;
                // -webkit-border-top-right-radius: 6px;
                // -webkit-border-bottom-right-radius: 6px;
                // -moz-border-radius-topright: 6px;
                // -moz-border-radius-bottomright: 6px;
                // border-top-right-radius: 6px;
                // border-bottom-right-radius: 6px;
                // margin:0 6px 0 0;
              }

              &.highlight {

                border-left:none;
                border-right:none;
            
                .day {
                  background-image: linear-gradient(bottom, rgb(254,238,218) 13%, rgb(255,251,246) 79%);
                  background-image: -o-linear-gradient(bottom, rgb(254,238,218) 13%, rgb(255,251,246) 79%);
                  background-image: -moz-linear-gradient(bottom, rgb(254,238,218) 13%, rgb(255,251,246) 79%);
                  background-image: -webkit-linear-gradient(bottom, rgb(254,238,218) 13%, rgb(255,251,246) 79%);
                  background-image: -ms-linear-gradient(bottom, rgb(254,238,218) 13%, rgb(255,251,246) 79%);
                  background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.13, rgb(254,238,218)),
                    color-stop(0.79, rgb(255,251,246))
                  );
                  border-right:1px solid #cecece;
                  border-bottom:1px solid #cecece;
                  // border-left:1px solid #cecece;
                  -webkit-border-bottom-right-radius: 6px;
                  -webkit-border-bottom-left-radius: 6px;
                  -moz-border-radius-bottomright: 6px;
                  -moz-border-radius-bottomleft: 6px;
                  border-bottom-right-radius: 6px;
                  border-bottom-left-radius: 6px;
                  -moz-box-shadow:0 1px 2px 0px #d9d9d9;
                  -webkit-box-shadow:0 1px 2px 0px #d9d9d9;
                  box-shadow:0 1px 2px 0px #d9d9d9;
                  height: 96px;
                  margin: 0 -1px -10px 0;
                  width: 130px;
                }

                + li {
                  border-left:none;
                }
              }

              .day {

                height:91px;
                left:0;
                padding:6px 3px 3px 3px;
                position:relative;
                top:0;
                width:auto;

                .day-number {
                  display:inline;
                  float:right;
                  font-size:11px;
                }

                .day-name {
                  color:#999;
                }

                footer {
                  bottom:0;
                  left:0;
                  position:absolute;
                  width:100%;

                  .label {

                    &.today {
                      background-image: linear-gradient(bottom, rgb(248,154,32) 13%, rgb(253,176,75) 79%);
                      background-image: -o-linear-gradient(bottom, rgb(248,154,32) 13%, rgb(253,176,75) 79%);
                      background-image: -moz-linear-gradient(bottom, rgb(248,154,32) 13%, rgb(253,176,75) 79%);
                      background-image: -webkit-linear-gradient(bottom, rgb(248,154,32) 13%, rgb(253,176,75) 79%);
                      background-image: -ms-linear-gradient(bottom, rgb(248,154,32) 13%, rgb(253,176,75) 79%);
                      background-image: -webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0.13, rgb(248,154,32)),
                        color-stop(0.79, rgb(253,176,75))
                      );
                      -webkit-border-bottom-right-radius: 6px;
                      -webkit-border-bottom-left-radius: 6px;
                      -moz-border-radius-bottomright: 6px;
                      -moz-border-radius-bottomleft: 6px;
                      border-bottom-right-radius: 6px;
                      border-bottom-left-radius: 6px;
                      color:#fff;
                      display:block;
                      font-stretch:condensed;
                      padding:1px 0;
                      text-align:center;
                      text-transform:uppercase;
                    }
                  }
                }
              }
            }
          }
        }
      } 
    }
  }
}