@import "susy";
@import "compass/css3";


/* @group MIXINS */

@mixin accordion-header-gradient {
	@include background-image(linear-gradient(top, #FFFFFF 0%,#DDE5ED 100%));
}

@mixin accordion-header-gradient-hover {
	@include background-image(linear-gradient(top, #f3f9ff 0%,#CDDCEE 100%));
}

@mixin drawer-tab-gradient-hover {
	@include background-image(linear-gradient(left, #f3f3f3 0%,#f9f9f9 100%));
}


/* @end MIXINS */

.editor {
	overflow:hidden;
}

.sidebar {
	//position:absolute;
	//clip:rect(0px,500px,400px,0px);
	.tabs {
		li {
			
			&:hover {

				&.main {
					a {
						//border:1px solid #000;
						@include drawer-tab-gradient-hover; 					
					}
					
				}

				&.gears  {
					a {
						//border:1px solid #000;
						@include drawer-tab-gradient-hover; 					
					}
				}

				&.status {
					a {
						//border:1px solid #000;
						@include drawer-tab-gradient-hover; 					
					}
					
				}
			}

			&.inActive {

				&.main {

					span {
						@include background( url(../images/icons/sprite_editorTabs.png) no-repeat center -397px);
					}
				}

				&.gears {

					span {
						@include background(url(../images/icons/sprite_editorTabs.png) no-repeat center -442px);
					}
				}

				&.status {

					span {
						@include background(url(../images/icons/sprite_editorTabs.png) no-repeat center -355px);
					}
				}


			}
				
	
			&.collapsed  { 

				&.active { 

					&:hover {

						&.main {

							span {
								@include background( url(../images/icons/sprite_editorTabs.png) no-repeat center -133px);
							}
						}

						&.gears {

							span {
								@include background(url(../images/icons/sprite_editorTabs.png) no-repeat center -178px);
							}
						}

						&.status {

							span {
								@include background(url(../images/icons/sprite_editorTabs.png) no-repeat center -355px);
							}
						}
					}
					
				}
			}
			&.collapsed  { 

				&.inActive { 

					&:hover {

						&.main {

							span {
								@include background( url(../images/icons/sprite_editorTabs.png) no-repeat center -529px);
							}
						}

						&.gears {

							span {
								@include background(url(../images/icons/sprite_editorTabs.png) no-repeat center -574px);
							}
						}

						&.status {

							span {
								@include background(url(../images/icons/sprite_editorTabs.png) no-repeat center -355px);
							}
						}
					}
					
				}
			}
			
		}
	}
	aside {
		#main-tab {
			display:none; 
			@include background(#eee url(../images/main_tab.png) no-repeat top );

		}
		#accordion {
			position:relative;

			.ui-state-focus { outline: none; }
			
			section {

				> section.hidden {
					opacity:0;
					
					width:220px;
					position:absolute;
				}
				header.clickable{

					cursor:pointer;
					color:#4D6EAC;
					@include accordion-header-gradient;

					&:hover {
    					@include accordion-header-gradient-hover;
  					}
  					h2 {
  						color:#4D6EAC;
  					}
  				}
  				
			}
			.savedLoaded {
				width:220px;
				position:absolute;
				bottom:0px; 
			}
				
			.search-filter {
				display:block;
				background-color:#e6e6e6;
				height:128px;
				//padding:10px;
				color:#A2A2A2;
				border-color:#ccc;
				border-size: 1px;
			}
				
			.search-box {
				display: inline-block;
				vertical-align: top;
				position: relative;
				margin:10px 0px 5px 0px;
				left: 10px;
				width:195px;
				height:19px;
				border: solid 1px #BBB;
				background: white;
				@include border-radius(3px);
			}
			.search-input {
				font-size: 11px;
				color: #B2B2B2;
				padding: 1px 0 0 4px;
				border: none;
				width:170px;
				@include border-radius(3px);
				outline: none;
			}
			.search-icon {
				float: right;
				cursor: pointer;
				background-image: url(../images/search_sprite.png);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				width: 20px;
				height: 20px;
				&:hover {
					background-position: 0px -30px;
			  	}
			}
			.treePicker {
				display: inline-block;
				vertical-align: top;
				position: relative;
				margin:5px 0px 10px 0px;
				left: 10px;
				width:195px;
				height:21px;
				text-align:left !important;

				span.treePicker-Folder-Icon {
					float: left;
					cursor: pointer;
					background-image: url(../images/icons/folder-icon.png);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					width: 14px;
					height: 12px;
					margin: 0px 5px 0px 0px;
				}
			
			}
			
			.filter-box {
				display: block;
				height: 38px;
				padding: 10px;
				background-color: #f6f6f6;
				border-style: solid;
				border-size: 1px;
				border-color:#ccc;
				.eyebrow-text {
					text-transform: uppercase;
					font-size: 10px;
					//margin-bottom: 5px;
				}
				.filterPicker {
					width:91px;
					height:21px;
					margin-top:5px;
					text-align:left !important;
				}

			}

			.savedGear {
				//height:30px;
				a {
					line-height:125%;
					padding-top:7px;
					padding-bottom:7px;
				}
			}
		.inactiveDrawer {
			display:none;	
		}
		}
	}
}
div.textarea {
	h1 {
		font-size:20px;
		font-weight:bold;
		line-height: 34px;
	}
}

.dropdown {
	&.noFloat {
		span {
			float: none !important;
		}
	}
}