@import "susy";
@import "compass/css3";

@font-face {
  font-family: universBold;
  src: url('/fonts/UniversLTStd-Bold.otf'); 
}

@font-face {
  font-family: univers;
  src: url('/fonts/UniversLTStd.otf'); 
}

@font-face {
  font-family: universCond;
  src: url('/fonts/UniversLTStd-Cn.otf'); 
}

// MIXINS

@mixin rounded-full { //duplicate!
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin rounded-top {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

// VARIABLES

$sansSerif: Arial, Helvetica, Sans-serif;
$fontColor: #525151;
$fontColorLight: #666;
$default-text-shadow-color: #d1d1d1;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 2px;


body.entice {
  .grid-table-data, .seven > ul {
    display:none;
  }
}

.billboard #leftNav, .entice #leftNav {

  li {

    a {

      &:hover {
        cursor:default!important;
      }
    }

    &.category {

      &:hover {
        background-position:0, 0;

        a {
          cursor:default !important;
          color:#999;
        }
      }
    }

    &.categoryClosed {

      &:hover {
        background-position:0, 0;

        a {
          cursor:default !important;
          color:#999;
        }
      }
    }

    &.app {  
  
      &:hover {
        display:block;
        background-position:0 0px !important; 
        cursor:default !important;

        .appImage {
          background-position:-24px 0px !important;
        }

        a {
          cursor:default !important;
          color:#999;
        }
      }

    }
  }
}

video#vidEmbed {

  @include box-shadow(0 0px 2px #999);

  source {
    display:block;
  }
}

.callout {
  position:absolute;
  background:cyan;
  cursor:default;
  cursor:pointer;
  height:154px;
  width:274px;
  z-index:20;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;

  div {
    border:2px solid #aaaaaa;
    background-image: linear-gradient(bottom, rgb(254,243,230) 27%, rgb(255,255,255) 82%);
    background-image: -o-linear-gradient(bottom, rgb(254,243,230) 27%, rgb(255,255,255) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(254,243,230) 27%, rgb(255,255,255) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(254,243,230) 27%, rgb(255,255,255) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(254,243,230) 27%, rgb(255,255,255) 82%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.27, rgb(254,243,230)),
      color-stop(0.82, rgb(255,255,255))
    );
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow:0 1px 5px #b0b0b0;
    -webkit-box-shadow:0 1px 5px #b0b0b0;
    box-shadow:0 1px 5px #b0b0b0;
    color:#333;
    display:none;
    padding:15px 20px;
    height:120px;
    position:relative;
    width:230px;

    p {
      font-size:12px;
      line-height:1.2em;
    }

    .btn_explore {
      bottom:15px;
      right:20px;
      position:absolute;
    }
  }

  &.cal {
    background:url(../images/ui/callout_Calendar.png) no-repeat 22px 17px;
    left: 98px;
    top: 54px;

    h2 {
      background:url(../images/ui/callout_Calendar.png) no-repeat top left;
      height:20px;
      margin:0 0 5px 0;
      width:100%;
    }
  }

  &.plse {
    background:url(../images/ui/callout_Pulse.png) no-repeat 22px 17px;
    height:134px;
    left: 124px;
    top: 186px;

    div {
      height:100px;
    }

    h2 {
      background:url(../images/ui/callout_Pulse.png) no-repeat top left;
      height:16px;
      margin:0 0 5px 0;
      width:100%;
    }
  }

  &.cmpgns {
    background:url(../images/ui/callout_Campaigns.png) no-repeat 22px 17px;
    left: 827px;
    top: 482px;

  h2 {
      background:url(../images/ui/callout_Campaigns.png) no-repeat top left;
      height:29px;
      margin:0 0 2px 0;
      width:100%;
    }
  }
}

#view_pulse {

  .rail {

    height:242px !important;

    .mainContent {

      > div {
        margin:-163px 0 0 0 !important;
      }
    }
  }

  .noData {

    p {
      color:#5F6F7B;
      display:block;
      margin:93px 0 0 0;
      text-align:center;

      span {
        font-size:16px;
        display:block;
        margin:0 0 3px 0;
      }

      a {
        color:#2168a7;
      }
    }
  }
}

#view_pulse .billboard {
  background:url(../images/ui/bg_billboardShadow.png) no-repeat bottom center;
  height:215px;
  margin:0 auto !important;
  padding:0 13px 11px;
  width:500px;

  .content {
    background:#e7e8e9;
    border:#c2c9cf;
    color:#333;
    height:175px;
    padding:19px 20px 20px 20px;
    position:relative;
    -moz-box-shadow:0 3px 2px #c0c9cd;
    -webkit-box-shadow:0 3px 2px #c0c9cd;
    box-shadow:0 0 3px #c0c9cd;
    background-image: linear-gradient(bottom, rgb(231,231,231) 15%, rgb(253,253,253) 79%);
    background-image: -o-linear-gradient(bottom, rgb(231,231,231) 15%, rgb(253,253,253) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(231,231,231) 15%, rgb(253,253,253) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(231,231,231) 15%, rgb(253,253,253) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(231,231,231) 15%, rgb(253,253,253) 79%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgb(231,231,231)),
      color-stop(0.79, rgb(253,253,253))
    );
    @include rounded-full;

    header {
      border-bottom:1px solid #dcdcdc;
      padding:0 0 14px 0;

      h3 {
        font-size:18px;
        margin:0 0 6px 0;

        span {
          color:#dc7429;
          font-weight:600;
        }
      }

      p {
        font-size:12px;
        line-height:1.1em;
      }
    }

    ul {
      border-top:1px solid #fcfcfc;
      display:inline;
      float:left;
      font-size:12px;
      list-style:disc;
      list-style-position:inside;
      padding:10px 0 0 0;
      width:50%;

      li {
        line-height:1.5em;
      }
    }

    footer {
      clear:left;
      bottom: 20px !important;
      left:auto !important;
      right:20px;
      padding:0 !important;
      width:auto !important;

      ul {
        border-top:none;
        display:block;
        float:none;
        list-style:none;
        list-style-position:auto;
        padding:0;
        width:auto;

        li {
          display:inline;
          float:right;
          line-height:normal;

          &:last-child {
            margin:0 13px 0 0;
            padding:3px 0 0 0;
          }
        }
      }
    }
  }
}

.btn_explore {
  background-image: linear-gradient(bottom, rgb(242,147,24) 17%, rgb(249,170,67) 81%);
  background-image: -o-linear-gradient(bottom, rgb(242,147,24) 17%, rgb(249,170,67) 81%);
  background-image: -moz-linear-gradient(bottom, rgb(242,147,24) 17%, rgb(249,170,67) 81%);
  background-image: -webkit-linear-gradient(bottom, rgb(242,147,24) 17%, rgb(249,170,67) 81%);
  background-image: -ms-linear-gradient(bottom, rgb(242,147,24) 17%, rgb(249,170,67) 81%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.17, rgb(242,147,24)),
    color-stop(0.81, rgb(249,170,67))
  );
  color:#fff;
  display:block;
  padding:0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 2px 2px -2px #555;
  -webkit-box-shadow:0 2px 2px -2px #555;
  box-shadow:0 2px 2px -2px #555;

  &:hover {
    background-image: linear-gradient(bottom, rgb(211,141,43) 20%, rgb(233,171,78) 57%, rgb(235,179,96) 97%);
    background-image: -o-linear-gradient(bottom, rgb(211,141,43) 20%, rgb(233,171,78) 57%, rgb(235,179,96) 97%);
    background-image: -moz-linear-gradient(bottom, rgb(211,141,43) 20%, rgb(233,171,78) 57%, rgb(235,179,96) 97%);
    background-image: -webkit-linear-gradient(bottom, rgb(211,141,43) 20%, rgb(233,171,78) 57%, rgb(235,179,96) 97%);
    background-image: -ms-linear-gradient(bottom, rgb(211,141,43) 20%, rgb(233,171,78) 57%, rgb(235,179,96) 97%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, rgb(211,141,43)),
      color-stop(0.57, rgb(233,171,78)),
      color-stop(0.97, rgb(235,179,96))
    );
  }

  img {
    display:block;
  }
}

.btn_exit {
  background-image: linear-gradient(bottom, rgb(218,229,237) 15%, rgb(255,255,255) 41%);
  background-image: -o-linear-gradient(bottom, rgb(218,229,237) 15%, rgb(255,255,255) 41%);
  background-image: -moz-linear-gradient(bottom, rgb(218,229,237) 15%, rgb(255,255,255) 41%);
  background-image: -webkit-linear-gradient(bottom, rgb(218,229,237) 15%, rgb(255,255,255) 41%);
  background-image: -ms-linear-gradient(bottom, rgb(218,229,237) 15%, rgb(255,255,255) 41%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.15, rgb(218,229,237)),
    color-stop(0.41, rgb(255,255,255))
  );
  border:1px solid #b8c4d1;
  display:block;
  padding:0 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow:0 2px 2px -2px #555;
  -webkit-box-shadow:0 2px 2px -2px #555;
  box-shadow:0 2px 2px -2px #555;

  img {
    display:block;
  }
}

#view_calendar {
  
  .entice {
    margin:18px 0 0 40px;
    width:475px;

    h2 {
      background:url(../images/ui/callout_Calendar.png) no-repeat top left;
      height:20px;
      margin:0 0 7px 0;
    }

    p {
      color:#333;
      font-size:12px;
      line-height:1.2em;
    }
  }
}

#view_pulse {

  .entice {
    color:#fff;
    left:40px;
    position:absolute;
    bottom:117px;
    width:173px;

    h2 {
      background:url(../images/ui/callout_PulseWhite.png) no-repeat top left;
      float:none !important;
      height:20px;
      margin:0 0 5px 0;
    }

    p {
      font-size:12px;
      line-height:1.2em;
    }
  }
}

#view_campaigns {

  .entice {
    left:30px;
    position:absolute;
    top:30px;
    width:400px;

    h2 {
      background:url(../images/ui/callout_Campaigns.png) no-repeat top left;
      height:29px;
      margin:0 0 2px 0;
    }

    p {
      color:#333;
      font-size:12px;
      line-height:1.2em;
    }
  }
}

#explore {
  display:none;
  background:#fff;
  @include border-radius(6px, 6px);
  @include box-shadow(#444 0 2px 14px);
  left:136px;
  margin:20px;
  position:absolute;
  top:36px;
  width:940px;
  z-index:200;

  header {
    background:#e9eef1;
    border-bottom:1px solid #adb6bf;
    color:#333;
    padding:9px 10px 7px 10px;
    @include border-radius(6px 6px 0 0);

    h2 {
      font-size:15px;
    }
  }

  .subHead {
    background:#f3f4f5;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    padding:5px 20px 3px 20px;
    width:900px;

    h3 {
      font-size:14px;
      line-height:2em;
    }
  }
  .content {
    background:transparent url(../images/ui/bg_tourRightCol.png) repeat-y top right;
    border-bottom:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    display:inherit;
    width:100%;
    @include box-shadow(0 3px 7px -5px #ccc inset);
  }
  .main {
    float:left;
    min-height:411px;
    padding:20px;
    width:620px;

    p {
      line-height:1.3em;
      margin:0 0
    }

    .btn_standard_med {
      display:inline;
      float:left;
      margin:10px 0 15px 0;

      &.inactive {
        @include opacity(.5);
      }
    }

    img {
      display:block;
      clear:left;
      margin:10px 0 0 0;
    }
  }
  .rightCol {
    margin:0 0 0 662px;
    padding:18px 40px 20px 30px;
    // width:278px;

    h3 {
      font-size:14px;
      margin:0 0 7px 0;
    }

    nav {
      font-size:11px;
      font-weight:600;

      li {

        .label {
          display:block;
          line-height: 2.2em;
          margin: 0;
        }

        li {
          @include border-radius(3px);

          &.active {
            background:#b9dff1;

            &:hover {
              background:#b9dff1;
            }

            a {
              //background:transparent url(../images/icons/check_complete.png) no-repeat 3px 4px;
              color:#385b6b;
            }
          }

          &:hover {
            background:#dfeef5;
          }
        }
      }

      a {
        font-weight:normal;
        color:#2168a7;
        display:block;
        padding:5px 5px 5px 20px;
      }

      a:visited, .complete {
        background:transparent url(../images/icons/check_complete.png) no-repeat 3px 4px;
      }
    }
  }

  footer {
    width:900px;
  }
}

#exit {
  display:none;
  background:#fff;
  @include border-radius(6px, 6px);
  @include box-shadow(#444 0 2px 14px);
  left:350px;
  margin:20px;
  position:absolute;
  top:96px;
  width:544px;
  z-index:200;

  header {
    background:#e9eef1;
    border-bottom:1px solid #adb6bf;
    color:#333;
    padding:9px 10px 7px 10px;
    @include border-radius(6px 6px 0 0);

    h2 {
      font-size:15px;
    }
  }

  .content {
    border-bottom:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    display:inherit;
    padding:20px;
    @include box-shadow(0 3px 7px -5px #ccc inset);

    img {
      display:inline;
      float:right;
      margin:0 0 0 10px;
    }

    p {
      font-size:14px;
      line-height:1.3em;
    }
  }

  footer {
    width:504px;
  }
}

#explore footer, #exit footer {
  background-image: linear-gradient(bottom, rgb(231,237,240) 37%, rgb(255,255,255) 100%);
  background-image: -o-linear-gradient(bottom, rgb(231,237,240) 37%, rgb(255,255,255) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(231,237,240) 37%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(231,237,240) 37%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(231,237,240) 37%, rgb(255,255,255) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(231,237,240)),
    color-stop(1, rgb(255,255,255))
  );
  border-top:1px solid #f6f8f9;
  clear:both;
  padding:8px 20px 8px 20px;
  @include border-radius(0 0 6px 6px);

  ul {
    display:inline;
    float:right;

    li {
      display:inline;
      float:right;
      height:21px;
      margin:-1px 0 0 0;

      &:first-child {
        margin:0 0 0 15px;
      }
    }
  }
}

.tools, .tourNav {
  display:inline;
  float:right;

  li {
    display:inline;
    float:right;
    line-height:18px;

    a[title*="Close"] {
      background:transparent url(../images/icons/lightbox_close.png) no-repeat center center;
      display:block;
      height:10px;
      margin:4px 0 0 0;
      width:10px;
    }
  }
}

.tourNav {

  li {
    margin:0 0 0 5px;

    a {
      display:block;
      height:25px;
      width:27px;

      &.next {
        background:transparent url(../images/ui/btn_tourPaging.png) no-repeat top right;
      }

      &.prev {
        background:transparent url(../images/ui/btn_tourPaging.png) no-repeat top left;
      }
    }
  }
}