@import "susy";
@import "compass/css3";

@font-face {
  font-family: universBold;
  src: url('/fonts/UniversLTStd-Bold.otf'); 
}

@font-face {
  font-family: univers;
  src: url('/fonts/UniversLTStd.otf'); 
}

@font-face {
  font-family: universCond;
  src: url('/fonts/UniversLTStd-Cn.otf'); 
}

// MIXINS

@mixin rounded-full { //duplicate!
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin rounded-top {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

// VARIABLES

$sansSerif: Arial, Helvetica, Sans-serif;
$fontColor: #525151;
$fontColorLight: #666;
$default-text-shadow-color: #d1d1d1;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 2px;

body.ftux {
  background:#455560;
}

.center {
  margin:0 auto;
  position:relative;
  width:1000px;
}

.loginContent {
  background:#DB7228;

  header {
    color:#fff;
    padding:0 10px;

    ul {
      display:inline;
      float:right;
      font-size:12px;
      margin:32px 0 0;

      li {
        display:inline;
        float:right;
        padding:0 4px;

        &:first-child {
          border-left:1px solid #fff;
        }
      }
    }
  }

  fieldset {
    background:#fff;
    display:inline;
    margin:0 0 -40px 0;
    min-height: 468px;
    padding: 30px 0 0 30px;
    width: 970px;
    @include border-radius(20px);

    h2 {
      color:#333;
      font-size:24px;
      line-height:.9em;
      margin:0 0 24px 0;

      strong {
        color:#dc741f;
        font-weight:600;
      }

      span {
        font-size:14px;
        margin:0 0 0 10px;
      }
    }

    img.context {
      float:left;
      margin:0 0 0 20px;
    }

    legend {
      color:#515151;
      display:block;
      font-size:14px;
      font-weight:600;
      line-height:1.1em;
      margin:0 0 10px 0;
      padding:5px 0 0 20px;
    }

    form {
      border-left:1px dotted #989898;
      margin:12px 0 0 560px;
      padding: 55px 0 0 20px;
      height:297px;
      width:386px;

      input.textbox {
        border: 1px solid #BBBBBB;
        @include border-radius(5px);
        color: #666666;
        font-family:arial;
        display:block;
        margin:5px 5px 10px 20px;
        padding: 3px;
        width: 198px;
      }

      .rightCol {
        float:right;
        font-size:12px;
        margin:0 23px 0 0;
        width:131px;

        a {
          color: #2168A7;
          display: block;
          height: 26px;
          line-height:1.5em;
          margin: 3px 0 0 2px;
          padding: 0 0 0 5px;
          vertical-align: middle;
        }

        .remember {

          height:26px;
          // line-height:1.6em;
          padding:5px 0 0 5px;

          #rememberMeChk, .remember-me  {
            display:inline;
            font-size:11px;
            margin:0;
            vertical-align: middle;
          }
        }
      }

      .btn_standard_med {

        display:inline;
        float:right;
        margin:0 164px 25px 0;
        padding:6px 10px;

        &:hover {
          cursor:default;
          cursor:pointer;
        }
      }

      ul.quickLinks {
        border-top:1px solid #bababa;
        clear:right;
        color:#333;
        font-size:12px;
        margin:0 auto;
        padding:12px;
        width:320px;

        li {
          display:block;
          margin:0 0 10px 0;
          text-align:center;
        }

        a {
          color:#2168a7;
        }
      }
    }
  }
}

.loginFooter {
  padding:60px 0 0 0;

  .center {
    text-align:center;
  }
}

