@import "reset.css";
@import "compass";
@import "grid";

// VARIABLES

$sansSerif: Arial, Helvetica, Sans-serif;



// MIXINS

@mixin category-default {
  display:block;
  width:192px; height:19px;
  background:transparent url(../images/categoryOpen.png) no-repeat 0 0;
  position:relative;
  left:-9px;
  font-size:8pt;
}

@mixin rounded-full {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin rounded-top {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


// GLOBALS

body {
  background:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.placeholder {
  @include rounded-full;
  background:#efefef;
  border:1px solid #e6e6e6;
}

a {
  outline:0;
  text-decoration:none;
  color:#999
}


// LAYOUT

#container {
  height:inherit;
  width:auto;
}

#mainContent {
   padding:52px 0 0 0;
   margin:0 0 0 220px;
}


// TOPBAR //

#topBar {
  height:32px;
  width:auto;
  background-image:linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-o-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-moz-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-webkit-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-ms-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.26, rgb(42,47,51)),
    color-stop(0.82, rgb(64,79,89))
  );
  position:fixed;
  width:100%;
  -moz-box-shadow:0 1px 1px #bbb;
  -webkit-box-shadow:0 1px 1px #bbb;
  box-shadow:0 1px 1px #bbb;

  h1 {
    background: transparent url(/images/ui/bg_navHeader.png) no-repeat top center;
    color:#fff;
    font-family:$sansSerif;
    font-size:14px;
    font-weight:500;
    height:39px;
    left:20px;
    letter-spacing:.02em;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    width:181px;
    z-index:10;

    span {
      display:block;
      line-height:1.1em;
      padding:3px 20px 0 40px;
    }
  }
}

#taskbar {
  display:inline;
  float:right;
  font-family:$sansSerif;
  font-size:11px;
  padding:0 10px 0 0;
    
    li {
      color:#aaa;
      display:inline;
      float:right;
      position:relative;

      &:last-child a, &:first-child a {
        border-right:none;
      }

      &.buDropDown {
        border:1px solid #242d34;
        margin:3px 0 0;
        @include rounded-full;

        a {
          border:1px solid #44494d;
          font-weight:bold;
          line-height: 1.9em;
          margin:0;
          @include rounded-full;

          &:hover, &.selected {
            background-image: linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -o-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -moz-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -ms-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.26, rgb(72,92,100)),
              color-stop(0.5, rgb(77,97,107)),
              color-stop(0.94, rgb(67,84,94))
            );
            color:#bae7fc;
          }
        }
      }


      a {
        border-right:1px solid #2e373e;
        color:#95b3ca;
        display:block;
        line-height:2.9em;
        margin:0;
        padding:0 10px;

        &:hover, &.selected {
            background-image: linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -o-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -moz-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -ms-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.26, rgb(72,92,100)),
              color-stop(0.5, rgb(77,97,107)),
              color-stop(0.94, rgb(67,84,94))
            );
            color:#fff;

            span {
              color:#a8e2fd;
            }
          }

          span {
            font-weight:bold;
          }
      }

      .menu.userInfo {
        background:url(../images/placeholders/menuUser.png) no-repeat top center;
        display:none;
        height:161px;
        left:-52px;
        position:absolute;
        top:27px;
        width:198px;
        z-index:20;
      }

      .menu.businessSwitch {
        background:url(../images/placeholders/menuBusinessSwitch.png) no-repeat top center;
        display:none;
        height:294px;
        left:-67px;
        position:absolute;
        top:23px;
        width:222px;
      }
    }
}

#security {
  bottom:0;
  color:#666;
  font-family:$sansSerif;
  font-size:10px;
  left:20px;
  position:absolute;
  z-index:10;
  -moz-box-shadow:0 0 1px #bbb;
  -webkit-box-shadow:0 0 1px #bbb;
  box-shadow:0 0 1px #bbb;
  width:181px;

  .container {
    left:0;
    position:relative;
    bottom:0;
    height:100%;
    width:100%
  }

  .collapsed {
    cursor:default;
    cursor:pointer;
    left:0;
    position:absolute;
    bottom:0;
    
    li {
      display:inline;
      float:left;
      width:57px;

      &:first-child {
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-top-left-radius: 3px;
        width:55px;
      }

      &:last-child {
        border-right:1px solid #b5c6d2;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-top-right-radius: 3px;
        width:68px;
      }

      .label {
        border-top:1px solid #b5c6d2;
        border-left:1px solid #b5c6d2;
        border-bottom:1px solid #b5c6d2;
        background-image: linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -o-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -moz-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -webkit-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -ms-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.06, rgb(221,231,238)),
          color-stop(0.77, rgb(255,255,255))
        );
        padding:4px;

        &.control {

          span {
            background:url(../images/ui/bg_collapseToggle.png) no-repeat -6px -6px;
            display:block;
            padding:0 0 0 15px;
          }
        }
      }

      &.alerts {

        .content {
          background:#fcfcfc url(../images/icons/alerts.png) no-repeat 12px center;
          padding:6px 4px 6px 35px;
        }
      }

      &.users {

        .content {
          background:#fcfcfc url(../images/icons/users.png) no-repeat -1px center;
          padding:6px 4px 6px 20px;
        }
      }

      &.watchdog {

        .content {
          background:#fcfcfc url(../images/icons/securityHigh.png) no-repeat -1px center;
          padding:6px 4px 6px 20px;
        }
      }

      li {
        background:#fcfcfc;
        border:none;
        display:block;
        float:none;
        width:auto !important;

        &.content {

          background:#fcfcfc;
          border-left:1px solid #e6e6e6;
          font-size:12px;
          line-height:.9em;
          padding:6px 4px;

          &:first-child {
            border-right:none;
            border-left:1px solid #e6e6e6;
            width:auto;
          }

          &:last-child {
            border-right:1px solid #e6e6e6;
            width:auto;
          }
        }
      }
    }
  }

  .expanded {

    display:none;
    left:0;
    position:absolute;
    bottom:0;
    width:181px;

    li {
      background:#fcfcfc;

      li {
        padding:10px 12px;
        border-right:1px solid #e6e6e6;
        border-bottom:1px solid #e6e6e6;
        border-left:1px solid #e6e6e6;

        &:last-child {
          border-bottom:none;
        }

        &.alerts {
          
          span {
            background:#fcfcfc url(../images/icons/alerts.png) no-repeat -5px -6px;
            line-height:1.5em;
            padding:0 0 0 21px;
          }
        }

        &.users {
          
          span {
            background:#fcfcfc url(../images/icons/users.png) no-repeat -5px -5px;
            line-height:1.5em;
            padding:0 0 0 21px;
          }
        }

        &.watchdog {
          
          span {
            background:#fcfcfc url(../images/icons/securityHigh.png) no-repeat -5px -5px;
            line-height:1.5em;
            padding:0 0 0 21px;
          }

          .title {
            background:none;
            color:#999;
            font-size:10px;
            padding:0;
            text-transform:uppercase;
          }
        }

        a {
          color:#4e8abe;
        }

        span {
          display:block;
          font-size:11px;
        }

        em {
          font-size:14px;
          font-style:normal;
        }
      }
    }
    
    h2 {
      background-image: linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -o-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -moz-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -webkit-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -ms-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(221,231,238)),
        color-stop(0.77, rgb(255,255,255))
      );
      border:1px solid #b5c6d2;
      font-size:12px;
      font-weight:normal;
      @include rounded-top;

      a {
        background:url(../images/ui/bg_collapseToggle.png) no-repeat -2px -28px;
        color:#4e8abe;
        display:block;
        padding:3px 3px 3px 20px;
      }
    }
  }
}

#topTools {
  position:relative;
  left:220px;
  padding:3px 0 0 0;

  li {
    border-top:1px solid #324049;
    border-right:1px solid #324049;
    border-bottom:1px solid #324049;
    float:left;
    font-family:$sansSerif;
    font-size:11px;
    line-height:2.2em;
    display:inline;

    &:first-child {
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left:1px solid #000;
    }

    &:last-child {
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomrigt: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.calendar a {
      background-image:url(../images/icons/calendar.png), linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -o-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -moz-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -webkit-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -ms-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(42,47,50)),
        color-stop(0.78, rgb(75,91,100))
      );
      background-repeat:no-repeat;
      background-position: 0 0;

      &:hover {
        color:#bae7fc;
        background-image:url(../images/icons/calendar.png), linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -o-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -moz-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -webkit-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -ms-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.11, rgb(58,71,77)),
          color-stop(0.74, rgb(107,142,160))
        );
      }

    }

    &.pulse a {
      background-image:url(../images/icons/pulse.png), linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -o-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -moz-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -webkit-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -ms-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(42,47,50)),
        color-stop(0.78, rgb(75,91,100))
      );
      background-repeat:no-repeat;
      background-position: 0 0;

      &:hover {
        color:#bae7fc;
        background-image:url(../images/icons/pulse.png), linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -o-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -moz-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -webkit-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -ms-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.11, rgb(58,71,77)),
          color-stop(0.74, rgb(107,142,160))
        );
      }
    }

    &.security a {
      background-image:url(../images/icons/security.png), linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -o-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -moz-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -webkit-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -ms-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(42,47,50)),
        color-stop(0.78, rgb(75,91,100))
      );
      background-repeat:no-repeat;
      background-position: 0 0;

      &:hover {
        color:#bae7fc;
        background-image:url(../images/icons/security.png), linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -o-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -moz-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -webkit-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -ms-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.11, rgb(58,71,77)),
          color-stop(0.74, rgb(107,142,160))
        );
      }
    }

    a {
      background-image: linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -o-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -moz-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -webkit-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -ms-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.54, rgb(42,47,50)),
        color-stop(0.86, rgb(74,90,100))
      );
      border-top:1px solid #22282c;
      border-bottom:1px solid #22282c;
      border-left:1px solid #22282c;
      color:#aaa;
      line-height:2em;
      padding:5px 10px 5px 27px;
      text-shadow: #000 1px 1px 1px;
    }

    &:first-child a {
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child a {
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomrigt: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right:1px solid #5e6d76;
    }
  }
}


// LEFT NAVIGATION

#leftNav {
  background:transparent url(../images/appHover.png) no-repeat 0 0; 
  position:fixed;
  top: 32px;
  left:19px;
  margin:0 0 0 0;
  font-family:arial;
  font-size:8pt;
  color:#999999;
  padding:10px 0 0 0;
  width:182px;
  z-index:5;

  li {
    outline:none;

    &.app {
    display:block;
    outline:none;
    width:183px; height:30px;
    background:transparent url(../images/appHover.png) no-repeat 0 0;
    margin:0;
    font-size:10pt;      
  
      &:hover {
        display:block;
        background-position:-183px 0px; 
        cursor:pointer;
        a {color:#333}
      } 

      a {
        position:relative;
        left:28px;
        top:3px;
        width:183px; height:30px;
        word-wrap: normal;
     }

      .appImage {
        display:block;
        width: 24px; height:24px;
        background-position:-24px 0px;
        position:relative;
        left:7px; top:3px;
      }
    }

    &.category {
      @include category-default;
      background:transparent url(../images/categoryOpen.png) no-repeat 0 0;    
      text-transform:uppercase;
      &:hover {background-position:-192px 0px}
      a {position:relative; left:18px; top:4px;
        &:hover {color:#333333;}
      }    
    }

    // icons

    &#EmailStudio-nav .appImage {background:transparent url(../images/apps/email_hover.png) no-repeat -24px 0}
    &#EmailStudio-nav:hover .appImage {background:transparent url(../images/apps/email_hover.png) no-repeat 0 0}

    &#SocialEngage-nav .appImage {background:transparent url(../images/apps/social_hover.png) no-repeat -24px 0;}
    &#SocialEngage-nav:hover .appImage {background:transparent url(../images/apps/social_hover.png) no-repeat 0 0;}

    &#MobileConnect-nav .appImage {background:transparent url(../images/apps/mobile_hover.png) no-repeat -24px 0;}
    &#MobileConnect-nav:hover  .appImage {background:transparent url(../images/apps/mobile_hover.png) no-repeat 0 0;}

    &#PageDesigner-nav .appImage {background:transparent url(../images/apps/sites_hover.png) no-repeat -24px 0;}
    &#PageDesigner-nav:hover .appImage {background:transparent url(../images/apps/sites_hover.png) no-repeat 0 0;}

    &#Campaigns-nav .appImage {background:transparent url(../images/apps/campaigns_hover.png) no-repeat -24px 0;}
    &#Campaigns-nav:hover .appImage {background:transparent url(../images/apps/campaigns_hover.png) no-repeat 0 0;}

    &#Reports-nav .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat -24px 0;}
    &#Reports-nav:hover .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat 0 0;}

    &#Assets-nav .appImage {background:transparent url(../images/apps/assets_hover.png) no-repeat -24px 0;}
    &#Assets-nav:hover .appImage {background:transparent url(../images/apps/assets_hover.png) no-repeat 0 0;}

    &#Contacts-nav .appImage {background:transparent url(../images/apps/contacts_hover.png) no-repeat -24px 0;}
    &#Contacts-nav:hover .appImage {background:transparent url(../images/apps/contacts_hover.png) no-repeat 0 0;}

    &#Audience-nav .appImage {background:transparent url(../images/apps/audienceBuilder_hover.png) no-repeat -24px 0;}
    &#Audience-nav:hover .appImage {background:transparent url(../images/apps/audienceBuilder_hover.png) no-repeat 0 0;}

    &#Automations-nav .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat -24px 0;}
    &#Automations-nav:hover .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat 0 0;}

    &#Marketo-nav .appImage {background:transparent url(../images/apps/marketo_hover.png) no-repeat -24px 0;}
    &#Marketo-nav:hover .appImage {background:transparent url(../images/apps/marketo_hover.png) no-repeat 0 0;}

    &#Klout-nav .appImage {background:transparent url(../images/apps/klout_hover.png) no-repeat -24px 0;}
    &#Klout-nav:hover .appImage {background:transparent url(../images/apps/klout_hover.png) no-repeat 0 0;}

    &#Netbase-nav .appImage {background:transparent url(../images/apps/netbase_hover.png) no-repeat -24px 0;}
    &#Netbase-nav:hover .appImage {background:transparent url(../images/apps/netbase_hover.png) no-repeat 0 0;}

    &.categoryClosed {
      @include category-default;
      background:transparent url(../images/categoryClosed.png) no-repeat 0 0;
      text-transform:uppercase;
      &:hover {background-position:-192px 0px}
      a {position:relative; left:18px; top:4px;
        &:hover {color:#333333;}
      }    
    }
   
    .flyout {
      border:1px solid #e6e6e6;
      position:relative;
      left:0;
      top:-10px;
      z-index:-1;
      opacity: 0;
      line-height:1.5em;
      margin:0 0 0 0;
      padding:0;
      visibility:hidden;
      @include rounded-full;
      width:181px;
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      -ms-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;

      a {
        position:relative;
        left:28px;
        top:3px;
        width:auto; height:30px;
      }

      li {
        font-size:12px;
        margin:0;
        padding:0;
        text-transform:capitalize;
      }

      &.visible {
        opacity:1;
        visibility:visible;
      }
    }
  } 

  
  #bottom-nav {
   height:8px;
   background:transparent url(../images/CollapsedSections.jpg) no-repeat scroll -19px -316px;
   width:184px;
  }

}


// MAIN CONTENT

#view_calendar {
 height:165px;
 margin:0 0 15px 0;
 width:1030px;
 // background:transparent url(../images/calendar.jpg) no-repeat 0 0;
}
    
#view_pulse {
 height:280px;
 margin:0 0 15px 0;
 width:1030px;
 // background:transparent url(../images/pulse.jpg) no-repeat 0 0;
}
    
#view_campaigns {
 height:280px;
 width:1030px;
 margin:0 0 15px 0;
 // background:transparent url(../images/campaign.jpg) no-repeat 0 0;
}


