@import "reset.css";
@import "compass/css3";
@import "susy";


// VARIABLES

$sansSerif: Arial, Helvetica, Sans-serif;

@font-face {
  font-family: universBold;
  src: url('/fonts/UniversLTStd-Bold.otf'); 
}

@font-face {
  font-family: univers;
  src: url('/fonts/UniversLTStd.otf'); 
}

@font-face {
  font-family: universCond;
  src: url('/fonts/UniversLTStd-Cn.otf'); 
}


// MIXINS

@mixin category-default {
  display:block;
  width:192px; height:19px;
  background:transparent url(../images/categoryOpen.png) no-repeat 0 0;
  position:relative;
  left:-9px;
  font-size:8pt;
}

@mixin rounded-full {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin rounded-top {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


// GLOBALS

body {
  // background:#fff url(/images/ui/bg_topBar.png) repeat-x top center;
  font-family:$sansSerif;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.placeholder {
  @include border-radius(3px, 3px);
  background:#efefef;
  border:1px solid #e6e6e6;
}

a {
  outline:0;
  text-decoration:none;
  color:#999
}

#overlay {
  height:100;
  background:#000;
  display:none;
  z-index:100;
  opacity:.50;
  filter:alpha(opacity=50);
  filter: “alpha(opacity=50)”;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.switcher {
  background:#333;
  //background:transparent url(/images/icons/ui-icons_256x240.png) no-repeat -34px -50px;
  //border:1px solid #ccc;
  color:#999;
  position:absolute;
  top:100px;
  left:0;
  padding:10px;
  z-index:10;
  @include border-radius(0 6px 6px 0);
  @include box-shadow(#666 0px 5px 5px);

  &.collapsed {
    height: 102px;
    left: -134px;
    padding: 10px 42px 10px 10px;

    li.label {
      border-bottom: medium none;
      cursor: pointer;
      display: block;
      font-family:univers;
      font-size: 16px;
      line-height: 1.8em;
      position: absolute;
      right: -5px;
      top: 25px;
      @include rotateZ(90deg);
    }

    li.control {

      left: 145px;
      position: absolute;
      top: 102px;
      
      a {
        background:transparent url(/images/icons/ui-iconsLight_256x240.png) no-repeat -34px -50px;
        display:block;
        height:12px;
        margin:0;
        padding:0;
        width:12px;
      }
    }
  }

  li {

    display:block;

    &.label {
      cursor: pointer;
      font-family: universBold;
      font-size:14px;
      border-bottom:1px dotted #ccc;
      margin: 0 0 10px;
      padding: 0 0 7px;
    }

    &:last-child {

      a {
        margin:0;
        padding:0;
        @include background-image(none); 
        @include box-shadow(none);
        @include border-radius(0px);
      }
    }
  }

  a {
    color: #FFFFFF;
    display: block;
    font-family: univers;
    margin: 0 0 7px;
    padding: 6px 0 4px 0;
    text-align: center;
    width:122px;
    opacity:0.5;
    @include background-image(linear-gradient(#b6b5b5, #999999)); 
    @include box-shadow(#333 0px 1px 1px);
    @include border-radius(4px, 4px);
      &:hover {
        @include box-shadow(#333 0px 3px 5px);
        @include background-image(linear-gradient(#c5c3c3, #b6b5b5 48%, #a6a2a2 52%, #8e8e8e)); 
        opacity:0.8;
    //opacity:1;
    //cursor:pointer;
      
    }
  }  
}

#container {

  #cal, #plse {
    left:0;
    width:1211px;
  }
  
  #cal, #plse, #scrty {
    display:none;
    background:#fff;
    @include border-radius(6px, 6px);
    @include box-shadow(#444 0 2px 14px);
    margin:20px;
    position:absolute;
    top:0;
    z-index:200;

    img {
      clear:both;
      display:block;
      height:auto;
      width:100%;
    }

    header {
      border-bottom:1px solid #adb6bf;
      color:#333;
      padding:13px 10px 9px 15px;

      h2 {
        font-size:20px;
      }
    }

    .tools {
      display:inline;
      float:right;

      li {
        display:inline;
        float:right;
        line-height:18px;

        a[title*="close"] {
          background:transparent url(../images/icons/lightbox_close.png) no-repeat center center;
          display:block;
          height:10px;
          margin:4px 0 0 0;
          width:10px;
        }

        &.toggleView {
          margin:0 309px 0 0;
          width:160px;

          li {

            a {
              border:1px solid #b5c6d2;
              color:#4e8abe;
              display:block;
              font-size:11px;
              background-image: linear-gradient(bottom, rgb(221,231,238) 11%, rgb(255,255,255) 80%);
              background-image: -moz-linear-gradient(bottom, rgb(221,231,238) 11%, rgb(255,255,255) 80%);
              background-image: -webkit-linear-gradient(bottom, rgb(221,231,238) 11%, rgb(255,255,255) 80%);
              background-image: -ms-linear-gradient(bottom, rgb(221,231,238) 11%, rgb(255,255,255) 80%);
              background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.11, rgb(221,231,238)),
                color-stop(0.8, rgb(255,255,255))
              );
              @include box-shadow(#dbdbdb 0 1px 2px);

              &.selected {
                background:#dae7f1;
                @include box-shadow(#b5c6d2 0 0 6px inset);

                &:hover {
                  background:#dae7f1;
                  @include box-shadow(#b5c6d2 0 0 6px inset);
                }
              }

              &:hover {
                background-image: linear-gradient(bottom, rgb(201,223,239) 11%, rgb(242,249,255) 80%);
                background-image: -moz-linear-gradient(bottom, rgb(201,223,239) 11%, rgb(242,249,255) 80%);
                background-image: -webkit-linear-gradient(bottom, rgb(201,223,239) 11%, rgb(242,249,255) 80%);
                background-image: -ms-linear-gradient(bottom, rgb(201,223,239) 11%, rgb(242,249,255) 80%);
                background-image: -webkit-gradient(
                  linear,
                  left bottom,
                  left top,
                  color-stop(0.11, rgb(201,223,239)),
                  color-stop(0.8, rgb(242,249,255))
                );
              }
            }

            &:first-child a {
              @include border-radius(3px, 3px);
              margin:0 0 0 10px;

              span {
                background:transparent url(../images/ui/bg_calendarPaging.png) no-repeat -55px -20px;
                display:block;
                height:16px;
                width:16px;
              }
            }

            &:last-child a {
              @include border-radius(3px, 3px);
              margin:0 10px 0 0;

              span {
                background:transparent url(../images/ui/bg_calendarPaging.png) no-repeat -20px -20px;
                display:block;
                height:16px;
                width:16px;
              }
            }

            &.month a {
              padding:0 10px 1px 10px;
              @include border-radius(0 3px 3px 0);
            }

            &.week a {
              padding:0 10px 1px 10px;
              @include border-radius(3px 0 0 3px);
            }
          }
        }

        .search-input {
          border:1px solid #ced1d2;
          color:#999;
          font-family:inherit;
          font-size:11px;
          margin:0 10px 0 0;
          padding:1px 10px;
          width:55px;
          @include border-radius(10px, 10px);
          @include box-shadow(#d3d3d3 0 1px 1px inset);
        }

        &.squib {
          float:left;
          font-size:11px;
          opacity:.70;
          filter:alpha(opacity=70);
          filter: “alpha(opacity=70)”;

          span {
            background-image: linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -moz-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -webkit-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -ms-linear-gradient(bottom, rgb(226,232,237) 0%, rgb(246,246,246) 60%);
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0, rgb(226,232,237)),
              color-stop(0.6, rgb(246,246,246))
            );
            border:1px solid #c9d4db;
            @include box-shadow(#d9d9d9 0 1px 1px);
            color:#9bbbd7;
            padding:1px 5px;
            @include border-radius(4px, 4px);
            vertical-align:top;
          }
        }

        &.settings {
          font-size:11px;

          a {
            background:transparent url(../images/icons/pulse_sprite.png) no-repeat -10px -9px;
            color:#4e8abe;
            margin:0 20px 0 0;
            padding:0 0 0 14px;
          }
        }
      }
    }
  }

  #scrty {
    background:#e9eef1;
    left:115px;
    width:980px;

    header {
      border-bottom:none;
    }
  }
}

#cal {
    
  header {
    border-bottom:1px solid #e3e3e3;
    padding:1px 10px 4px 15px !important;

    .label {
      color:#666;
      font-size:11px;
    }

    h2 {
      margin:1px 0 0 0;
    }
  }

  .tools {  
    padding:10px 0 0 0;
    width:960px;

    a[title*="close"] {
      margin:6px 0 0 0;
    }
  }

}

// LAYOUT

#container {
  height:inherit;
  left:0;
  margin:0 auto;
  position:relative;
  top:0;
  width:1250px;
}

#innerContent {
  margin:0 0 0 19px;
  overflow-x:hidden;
  overflow-y:auto;
}

#mainContent {
   padding:53px 0 0 0;
   margin:0 0 0 201px;

   > div {
     margin:0 0 15px 0;
   }
}


// TOPBAR //

#topBar {
  height:32px;
  background-image:linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-moz-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-webkit-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-ms-linear-gradient(bottom, rgb(42,47,51) 26%, rgb(64,79,89) 82%);
  background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.26, rgb(42,47,51)),
    color-stop(0.82, rgb(64,79,89))
  );
  position:fixed;
  @include box-shadow(#bbb 0 1px 1px);
  width:100%;
  z-index:3;

  > div {
    left:0;
    margin:0 auto;
    padding:0 10px 0 20px;
    position:relative;
    top:0;
    width:1220px;
  }

  h1 {
    background: transparent url(../images/ui/bg_navHeader.png) no-repeat top center;
    display:inline;
    float:left;
    font-family:$sansSerif;
    font-size:14px;
    font-weight:500;
    height:39px;
    letter-spacing:.02em;
    margin:0 18px 0 0;
    padding:0;
    width:181px;
    // z-index:10;

    a {
      color:#fff;
    }

    span {
      display:block;
      line-height:1.1em;
      padding:3px 20px 0 40px;
    }
  }
}

#taskbar {
  display:inline;
  float:right;
  font-family:$sansSerif;
  font-size:11px;
  padding:0;
    
    li {
      color:#aaa;
      display:inline;
      float:right;
      position:relative;

      &:last-child a, &:first-child a {
        border-right:none;
      }

      &.buDropDown {
        border:1px solid #242d34;
        margin:3px 0 0;
        @include border-radius(3px, 3px);

        a {
          border:1px solid #44494d;
          font-weight:bold;
          line-height: 1.9em;
          margin:0;
          @include border-radius(3px, 3px);

          &:hover, &.selected {
            background-image: linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -moz-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -ms-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.26, rgb(72,92,100)),
              color-stop(0.5, rgb(77,97,107)),
              color-stop(0.94, rgb(67,84,94))
            );
            color:#bae7fc;
          }
        }
      }


      a {
        border-right:1px solid #2e373e;
        color:#95b3ca;
        display:block;
        line-height:2.9em;
        margin:0;
        padding:0 10px;

        &:last-child {
          padding:0 10px 0 10px;
        }

        &:hover, &.selected {
            background-image: linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -moz-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -ms-linear-gradient(bottom, rgb(72,92,100) 26%, rgb(77,97,107) 50%, rgb(67,84,94) 94%);
            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.26, rgb(72,92,100)),
              color-stop(0.5, rgb(77,97,107)),
              color-stop(0.94, rgb(67,84,94))
            );
            color:#fff;

            span {
              color:#a8e2fd;
            }
          }

          span {
            font-weight:bold;
          }
      }

      .menu.userInfo {
        background:url(../images/placeholders/menuUser.png) no-repeat top center;
        display:none;
        height:161px;
        left:-52px;
        position:absolute;
        top:27px;
        width:198px;
        z-index:20;
      }

      .menu.businessSwitch {
        background:url(../images/placeholders/menuBusinessSwitch.png) no-repeat top center;
        display:none;
        height:294px;
        left:-67px;
        position:absolute;
        top:23px;
        width:222px;
      }
    }
}

#security {
  bottom:0;
  color:#666;
  font-family:$sansSerif;
  font-size:10px;
  left:20px;
  position:absolute;
  z-index:10;
  @include box-shadow(#bbb 0 0 1px);
  width:181px;

  .container {
    left:0;
    position:relative;
    bottom:0;
    height:100%;
    width:100%
  }

  .collapsed {
    cursor:default;
    cursor:pointer;
    left:0;
    position:absolute;
    bottom:0;
    
    li {
      display:inline;
      float:left;
      width:57px;

      &:first-child {
        @include border-radius(3px 0 0 0);
        width:55px;

        .label {
          @include border-radius(3px 0 0 0);
        }

        + li {
          
          .label {
            @include border-radius(0);
          }
        }
      }

      &:last-child {
        border-right:1px solid #b5c6d2;
        @include border-radius(0 3px 0 0);
        width:68px;

        .label {
          @include border-radius(0 3px 0 0);
        }
      }

      .label {
        border-top:1px solid #b5c6d2;
        border-left:1px solid #b5c6d2;
        border-bottom:1px solid #b5c6d2;
        background-image: linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -moz-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -webkit-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -ms-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.06, rgb(221,231,238)),
          color-stop(0.77, rgb(255,255,255))
        );
        padding:4px;

        &.control {

          span {
            background:url(../images/ui/bg_collapseToggle.png) no-repeat -6px -6px;
            display:block;
            padding:0 0 0 15px;
          }
        }
      }

      &.alerts {

        .content {
          background:#fcfcfc url(../images/icons/alerts.png) no-repeat 12px center;
          padding:6px 4px 6px 35px;
        }
      }

      &.users {

        .content {
          background:#fcfcfc url(../images/icons/users.png) no-repeat -1px center;
          padding:6px 4px 6px 20px;
        }
      }

      &.watchdog {

        .content {
          background:#fcfcfc url(../images/icons/securityHigh.png) no-repeat -1px center;
          margin:0 -1px 0 0;
          padding:6px 4px 6px 20px;
        }
      }

      li {
        background:#fcfcfc;
        border:none;
        display:block;
        float:none;
        width:auto !important;

        &.content {

          background:#fcfcfc;
          border-left:1px solid #e6e6e6;
          font-size:12px;
          line-height:.9em;
          padding:6px 4px;

          &:first-child {
            border-right:none;
            border-left:1px solid #e6e6e6;
            width:auto;
          }

          &:last-child {
            border-right:1px solid #e6e6e6;
            width:auto;
          }
        }
      }
    }
  }

  .expanded {

    display:none;
    left:0;
    position:absolute;
    bottom:0;
    width:181px;

    li {
      background:#fcfcfc;

      li {
        padding:10px 12px;
        border-right:1px solid #e6e6e6;
        border-bottom:1px solid #e6e6e6;
        border-left:1px solid #e6e6e6;

        &:last-child {
          border-bottom:none;
        }

        &.alerts {
          
          span {
            background:#fcfcfc url(../images/icons/alerts.png) no-repeat -5px -6px;
            line-height:1.5em;
            padding:0 0 0 21px;
          }
        }

        &.users {
          
          span {
            background:#fcfcfc url(../images/icons/users.png) no-repeat -5px -5px;
            line-height:1.5em;
            padding:0 0 0 21px;
          }
        }

        &.watchdog {
          
          span {
            background:#fcfcfc url(../images/icons/securityHigh.png) no-repeat -5px -5px;
            line-height:1.5em;
            padding:0 0 0 21px;
          }

          .title {
            background:none;
            color:#999;
            font-size:10px;
            padding:0;
            text-transform:uppercase;
          }
        }

        a {
          color:#4e8abe;
        }

        span {
          display:block;
          font-size:11px;
        }

        em {
          font-size:14px;
          font-style:normal;
        }
      }
    }
    
    h2 {
      background-image: linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -moz-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -webkit-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -ms-linear-gradient(bottom, rgb(221,231,238) 6%, rgb(255,255,255) 77%);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.06, rgb(221,231,238)),
        color-stop(0.77, rgb(255,255,255))
      );
      border:1px solid #b5c6d2;
      font-size:12px;
      font-weight:normal;
      @include border-radius(3px 3px 0 0);

      a {
        background:url(../images/ui/bg_collapseToggle.png) no-repeat -2px -28px;
        color:#4e8abe;
        display:block;
        padding:3px 3px 3px 20px;
      }
    }
  }
}

#topTools {
  padding:3px 0 0 0;

  li {
    border-top:1px solid #324049;
    border-right:1px solid #324049;
    border-bottom:1px solid #324049;
    float:left;
    font-family:$sansSerif;
    font-size:11px;
    line-height:2.2em;
    display:inline;

    &:first-child {
      @include border-radius(4px 0 0 0);
      border-left:1px solid #000;
    }

    &:last-child {
      @include border-radius(0 4px 0 0);
    }

    &.calendar a {
      background-image:url(../images/icons/calendar.png), linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -moz-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -webkit-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -ms-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/calendar.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(42,47,50)),
        color-stop(0.78, rgb(75,91,100))
      );
      background-repeat:no-repeat;
      background-position: 0 0;

      &:hover {
        color:#bae7fc;
        background-image:url(../images/icons/calendar.png), linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -moz-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -webkit-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -ms-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/calendar.png), -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.11, rgb(58,71,77)),
          color-stop(0.74, rgb(107,142,160))
        );
      }

    }

    &.pulse a {
      background-image:url(../images/icons/pulse.png), linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -moz-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -webkit-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -ms-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/pulse.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(42,47,50)),
        color-stop(0.78, rgb(75,91,100))
      );
      background-repeat:no-repeat;
      background-position: 0 0;

      &:hover {
        color:#bae7fc;
        background-image:url(../images/icons/pulse.png), linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -moz-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -webkit-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -ms-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/pulse.png), -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.11, rgb(58,71,77)),
          color-stop(0.74, rgb(107,142,160))
        );
      }
    }

    &.security a {
      background-image:url(../images/icons/security.png), linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -moz-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -webkit-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -ms-linear-gradient(bottom, rgb(42,47,50) 12%, rgb(75,91,100) 78%);
      background-image:url(../images/icons/security.png), -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(42,47,50)),
        color-stop(0.78, rgb(75,91,100))
      );
      background-repeat:no-repeat;
      background-position: 0 0;

      &:hover {
        color:#bae7fc;
        background-image:url(../images/icons/security.png), linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -moz-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -webkit-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -ms-linear-gradient(bottom, rgb(58,71,77) 11%, rgb(107,142,160) 74%);
        background-image:url(../images/icons/security.png), -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.11, rgb(58,71,77)),
          color-stop(0.74, rgb(107,142,160))
        );
      }
    }

    a {
      background-image: linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -moz-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -webkit-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -ms-linear-gradient(bottom, rgb(42,47,50) 54%, rgb(74,90,100) 86%);
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.54, rgb(42,47,50)),
        color-stop(0.86, rgb(74,90,100))
      );
      border-top:1px solid #22282c;
      border-bottom:1px solid #22282c;
      border-left:1px solid #22282c;
      color:#aaa;
      line-height:2em;
      padding:5px 10px 5px 27px;
      text-shadow: #000 1px 1px 1px;
    }

    &:first-child a {
      @include border-radius(4px 0 4px 0);
    }

    &:last-child a {
      @include border-radius(0 4px 4px 0);
      border-right:1px solid #5e6d76;
    }
  }
}


// LEFT NAVIGATION

#leftNav {
  background:transparent url(../images/appHover.png) no-repeat 0 0; 
  position:fixed;
  top: 32px;
  margin:0 0 0 -1px;
  font-family:arial;
  font-size:8pt;
  color:#999999;
  padding:10px 0 0 0;
  width:182px;
  z-index:-1;

  li {
    outline:none;

    &.app {
    display:block;
    outline:none;
    width:183px; height:30px;
    background:transparent url(../images/appHover.png) no-repeat 0 0;
    margin:0;
    font-size:10pt;      
  
      &:hover {
        display:block;
        background-position:-183px 0px; 
        cursor:pointer;
        a {color:#333}
      } 

      a {
        position:relative;
        left:28px;
        top:3px;
        width:183px; height:30px;
        word-wrap: normal;
     }

      .appImage {
        display:block;
        width: 24px; height:24px;
        background-position:-24px 0px;
        position:relative;
        left:7px; top:3px;
      }
    }

    &.category {
      @include category-default;
      background:transparent url(../images/categoryOpen.png) no-repeat 0 0;    
      text-transform:uppercase;
      &:hover {background-position:-192px 0px}
      a {position:relative; left:18px; top:4px;
        &:hover {color:#333333;}
      }    
    }

    // icons

    &#EmailStudio-nav .appImage {background:transparent url(../images/apps/email_hover.png) no-repeat -24px 0}
    &#EmailStudio-nav:hover .appImage {background:transparent url(../images/apps/email_hover.png) no-repeat 0 0}

    &#SocialEngage-nav .appImage {background:transparent url(../images/apps/social_hover.png) no-repeat -24px 0;}
    &#SocialEngage-nav:hover .appImage {background:transparent url(../images/apps/social_hover.png) no-repeat 0 0;}

    &#MobileConnect-nav .appImage {background:transparent url(../images/apps/mobile_hover.png) no-repeat -24px 0;}
    &#MobileConnect-nav:hover  .appImage {background:transparent url(../images/apps/mobile_hover.png) no-repeat 0 0;}

    &#PageDesigner-nav .appImage {background:transparent url(../images/apps/sites_hover.png) no-repeat -24px 0;}
    &#PageDesigner-nav:hover .appImage {background:transparent url(../images/apps/sites_hover.png) no-repeat 0 0;}

    &#Campaigns-nav .appImage {background:transparent url(../images/apps/campaigns_hover.png) no-repeat -24px 0;}
    &#Campaigns-nav:hover .appImage {background:transparent url(../images/apps/campaigns_hover.png) no-repeat 0 0;}

    &#Reports-nav .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat -24px 0;}
    &#Reports-nav:hover .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat 0 0;}

    &#Assets-nav .appImage {background:transparent url(../images/apps/assets_hover.png) no-repeat -24px 0;}
    &#Assets-nav:hover .appImage {background:transparent url(../images/apps/assets_hover.png) no-repeat 0 0;}

    &#Contacts-nav .appImage {background:transparent url(../images/apps/contacts_hover.png) no-repeat -24px 0;}
    &#Contacts-nav:hover .appImage {background:transparent url(../images/apps/contacts_hover.png) no-repeat 0 0;}

    &#Audience-nav .appImage {background:transparent url(../images/apps/audienceBuilder_hover.png) no-repeat -24px 0;}
    &#Audience-nav:hover .appImage {background:transparent url(../images/apps/audienceBuilder_hover.png) no-repeat 0 0;}

    &#Automations-nav .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat -24px 0;}
    &#Automations-nav:hover .appImage {background:transparent url(../images/apps/reports_hover.png) no-repeat 0 0;}

    &#Marketo-nav .appImage {background:transparent url(../images/apps/marketo_hover.png) no-repeat -24px 0;}
    &#Marketo-nav:hover .appImage {background:transparent url(../images/apps/marketo_hover.png) no-repeat 0 0;}

    &#Klout-nav .appImage {background:transparent url(../images/apps/klout_hover.png) no-repeat -24px 0;}
    &#Klout-nav:hover .appImage {background:transparent url(../images/apps/klout_hover.png) no-repeat 0 0;}

    &#Netbase-nav .appImage {background:transparent url(../images/apps/netbase_hover.png) no-repeat -24px 0;}
    &#Netbase-nav:hover .appImage {background:transparent url(../images/apps/netbase_hover.png) no-repeat 0 0;}

    &.categoryClosed {
      @include category-default;
      background:transparent url(../images/categoryClosed.png) no-repeat 0 0;
      text-transform:uppercase;
      &:hover {background-position:-192px 0px}
      a {position:relative; left:18px; top:4px;
        &:hover {color:#333333;}
      }    
    }
   
    .flyout {
      border:1px solid #e6e6e6;
      position:relative;
      left:0;
      top:-10px;
      z-index:-1;
      opacity: 0;
      line-height:1.5em;
      margin:0 0 0 0;
      padding:0;
      visibility:hidden;
      @include border-radius(3px, 3px);
      width:181px;
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -ms-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;

      a {
        position:relative;
        left:28px;
        top:3px;
        width:auto; height:30px;
      }

      li {
        font-size:12px;
        margin:0;
        padding:0;
        text-transform:capitalize;
      }

      &.visible {
        opacity:1;
        visibility:visible;
      }
    }
  } 

  
  #bottom-nav {
   height:8px;
   background:transparent url(../images/CollapsedSections.jpg) no-repeat scroll -19px -316px;
   width:184px;
  }

}