doctype html
head
== yield_content :title

meta http-equiv='Content-Type' content='text/html' charset='utf-8'
== favicon_tag 'favicon.ico'
== stylesheet_link_tag 'site'
== stylesheet_link_tag 'editor'
== stylesheet_link_tag 'editorSidebar'
== javascript_include_tag 'jquery-1.7.1.min'
== javascript_include_tag 'jquery.easing.1.3'
script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js'
== javascript_include_tag 'editorFunctions'
== javascript_include_tag 'editorSidebarFunctions'


body class='editor'

	div id='wrapper'

		== yield

		div id='overlay'
