// Allows for the alternative layout called Singleton
---

layout: singleton
css: "single"
page_name:
  - SocialPages

---

//Page Title
-content_for :title do
 title Hub Apps - SocialPages

-content_for :documentation do
	== image_tag('placeholders/socialPages.png', :class => 'staticImage')
