// Allows for the alternative layout called Singleton
---

layout: singleton
css: "single"
page_name:
  - Campaigns

---

//Page Title
-content_for :title do
 title Hub Tools - Campaigns

-content_for :documentation do
	== image_tag('placeholders/campaigns.png', :class => 'staticImage')
