doctype html
head
//pulls in title from individual page
== yield_content :title

meta http-equiv='Content-Type' content='text/html' charset='utf-8'
== stylesheet_link_tag 'docs'
== stylesheet_link_tag 'site'
== javascript_include_tag 'jquery-1.7.1.min'
== javascript_include_tag 'jquery.easing.1.3'
== javascript_include_tag 'jquery.tmpl.min'
== javascript_include_tag 'growshrink'
== javascript_include_tag 'pageFunctions'

body class='singleton'

	== partial 'header'

	div id='container'

		div id="innerContent"

			== if content_for?(:documentation)
				== yield_content :documentation